---
import WelcomeScreen from './WelcomeScreen'
---

<html lang='es'>
	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width' />
		<title>Bienvenido a mi Portfolio</title>
	</head>
	<body>
		<WelcomeScreen client:load onLoadingComplete={() => {}} />
	</body>
</html>
